# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Patryk Mól
	email = patryk@pmol.dev

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Dracula
    navigate = true
    side-by-side = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only